{{#section 'js'}}
    <script>
        $("#yearPicker").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });
        $("#yearPicker2").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });
    </script>
{{/section}}

<div class="u-content">
    <div class="u-body">
        <header class="section-header mb-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="h3 card-header-title">Thêm lớp học</h2>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="category-add-form-wrap">
                    <form action="/admin/class/add" method="post" class="category-add-form">
                        <div class="form-group">
                            <label for="name">Tên lớp</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên lớp" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Phòng học</label>
                            <input type="text" class="form-control" id="room" name="room" placeholder="Nhập tên phòng học" required>
                        </div>
                        <div class="form-group">
                            <label for="teacher">Giáo viên chủ nhiệm lớp</label>
                            <select id="teacher" name="teacher">
                                <option data-display="Chọn giáo viên" value="">Giáo viên</option>
                                {{#each result}}
                                    <option value="{{MaGV}}">{{MaGV}}. {{HoTen}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">&nbsp;</div>
                        <div class="form-group">
                            <label for="dob">Năm bắt đầu</label>
                            <input class="form-control" id="yearPicker" name="start" placeholder="Chọn năm học bắt đầu" type="text" onkeydown="return false;" required/>
                        </div>
                        <div class="form-group">
                            <label for="dob">Năm kết thúc</label>
                            <input class="form-control" id="yearPicker2" name="end" placeholder="Chọn năm học kết thúc" type="text" onkeydown="return false;" required/>
                        </div>
                        {{#if added}}
                            <p class="text-success">Thêm thành công</p>
                        {{/if}}
                        <div class="form-group">
                            <button class="box-btn" type="submit">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
