<div class="u-content">
    <div class="u-body">
        <!-- Card Header -->
        <header class="section-header mb-4">
            <h2 class="h3 card-header-title">Tổng quan</h2>
        </header>
        <!-- End Card Header -->
        <div class="row">
            <div class="col-sm-6 col-xl-3 text-center">
                <div class="card single-highlight">
                    <div class="card-body">
                        <div class="highlight-icon-image mb-3">
                            <img src="public/admin-assets/img/icon/course.png" alt="">
                        </div>
                        <div class="highlight-text">
                            <h3 class="h2 mb-3 counter">{{classNum}}</h3>
                            <h3>Số lượng lớp học</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 text-center">
                <div class="card single-highlight">
                    <div class="card-body">
                        <div class="highlight-icon-image mb-3">
                            <img src="public/admin-assets/img/icon/leson.png" alt="">
                        </div>
                        <div class="highlight-text">
                            <h3 class="h2 mb-3 counter">{{subjectNum}}</h3>
                            <h3>Số lượng môn học</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 text-center ">
                <div class="card single-highlight">
                    <div class="card-body">
                        <div class="highlight-icon-image mb-3">
                            <img src="public/admin-assets/img/icon/student.png" alt="">
                        </div>
                        <div class="highlight-text">
                            <h3 class="h2 mb-3 counter">{{stuNum}}</h3>
                            <h3>Số lượng học sinh</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 text-center">
                <div class="card single-highlight">
                    <div class="card-body">
                        <div class="highlight-icon-image mb-3">
                            <img src="public/admin-assets/img/icon/enroll.png" alt="">
                        </div>
                        <div class="highlight-text">
                            <h3 class="h2 mb-3 counter">{{teacNum}}</h3>
                            <h3>Số lượng giáo viên</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>