<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/login-assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/public/login-assets/css/owl.carousel.min.css">

    <!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
    <link rel="stylesheet" href="/public/login-assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/public/login-assets/css/style.css">

    <title>Login #7</title>
</head>
<body class="vh-100"  style="background-color: #d9edfb">

    <div class="content vh-100 align-items-center d-flex justify-content-center">
        <div class="container" style="background-color: white; padding: 2rem; border-radius: 20px">
            <div class="row">
                <div class="col-md-6">
                    <img src="/public/login-assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                {{{body}}}
            </div>
        </div>
    </div>


    <script src="/public/login-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/public/login-assets/js/popper.min.js"></script>
    <script src="/public/login-assets/js/bootstrap.min.js"></script>
    <script src="/public/login-assets/js/main.js"></script>
</body>
</html>