<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Lincoln High School</title>
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Arvo:400,700|" rel="stylesheet" type="text/css">
    <link href="/public/home-assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="/public/home-assets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="/public/home-assets/js/ie-support/html5.js"></script>
    <script src="/public/home-assets/js/ie-support/respond.js"></script>
    <![endif]-->

</head>


<body class="vh-100 d-flex flex-column justify-content-between">
{{{body}}}
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget-title">Contact us</h3>
                    <address>Lincoln High School <br>745 Jewel Ave Street <br>Fress Meadows, NY 1136</address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget-title">Social media</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="social-links circle">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="copy">Copyright 2014 Lincoln High School. All rights reserved.</div>
    </div>

</footer>

<script src="/public/home-assets/js/jquery-1.11.1.min.js"></script>
<script src="/public/home-assets/js/plugins.js"></script>
<script src="/public/home-assets/js/app.js"></script>


</body>

</html>