<div class="u-content">
    <div class="u-body">
        <header class="section-header mb-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="h3 card-header-title">Danh sách lớp học giảng dạy</h2>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                    <div class="card single-category text-center">
                        <div class="card-body">
                            <div class="">
                                <div class="category-image">
                                    <img src="/public/admin-assets/img/categories/cat-2.jpg" alt="">
                                </div>
                                <div class="category-content">
                                    <h2>11A1</h2>
                                    <ul>
                                        <li>Môn giảng dạy: Toán</li>
                                        <li>Phòng học: I50</li>
                                        <li>Năm học: 2020-2021</li>
                                    </ul>
                                    <div class="">
                                        <button class="btn btn-outline-secondary"><a href="/teacher/teaching-class/students">Danh sách học sinh</a></button>
                                        <button class="btn btn-outline-success"><a href="/teacher/teaching-class/scores">Xem bảng điểm</a></button>
                                        <button class="btn btn-outline-info">Xuất bảng điểm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-4 col-md-6">
                <div class="card single-category text-center">
                    <div class="card-body">
                        <div class="">
                            <div class="category-image">
                                <img src="/public/admin-assets/img/categories/cat-2.jpg" alt="">
                            </div>
                            <div class="category-content">
                                <h2>11A1</h2>
                                <ul>
                                    <li>Môn giảng dạy: Toán</li>
                                    <li>Phòng học: I50</li>
                                    <li>Năm học: 2020-2021</li>
                                </ul>
                                <div class="">
                                    <button class="btn btn-outline-secondary"><a href="/teacher/teaching-class/students">Danh sách học sinh</a></button>
                                    <button class="btn btn-outline-success"><a href="/teacher/teaching-class/scores">Xem bảng điểm</a></button>
                                    <button class="btn btn-outline-info">Xuất bảng điểm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card single-category text-center">
                    <div class="card-body">
                        <div class="">
                            <div class="category-image">
                                <img src="/public/admin-assets/img/categories/cat-2.jpg" alt="">
                            </div>
                            <div class="category-content">
                                <h2>11A1</h2>
                                <ul>
                                    <li>Môn giảng dạy: Toán</li>
                                    <li>Phòng học: I50</li>
                                    <li>Năm học: 2020-2021</li>
                                </ul>
                                <div class="">
                                    <button class="btn btn-outline-secondary"><a href="/teacher/teaching-class/students">Danh sách học sinh</a></button>
                                    <button class="btn btn-outline-success"><a href="/teacher/teaching-class/scores">Xem bảng điểm</a></button>
                                    <button class="btn btn-outline-info">Xuất bảng điểm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>