<div id="site-content">
    <header class="site-header">
        <div class="primary-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="/public/home-assets/images/logo.png" alt="Lincoln high School">
                    <h1 class="site-title">Lincoln High School</h1>
                </a> <!-- #branding -->

                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item mr-1 current-menu-item"><a href="/">Trang chủ</a></li>
                        <li class="menu-item mr-1"><a href="/exam-schedule">Lịch Thi</a></li>
                        <li class="menu-item mr-1"><a href="/time-table">Thời khóa biểu</a></li>
                        <li class="menu-item mr-1"><a href="/tuition">Học Phí</a></li>
                        <li class="menu-item mr-1"><a href="/profile">Thông tin cá nhân</a></li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->

                <div class="mobile-navigation"></div>
            </div> <!-- .container -->
        </div> <!-- .primary-header -->

    </header>
</div>

<main class="main-content mb-4">
        <div class="container col d-flex justify-content-center">
            <div class="col-md-9">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header p-1" style="background-color: #a8d2ea;">
                            <h5 class="d-flex justify-content-center">
                                Thông tin học sinh
                            </h5>
                        </div>
                        <div class="card-body pr-0">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Họ và tên:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Nguyễn Văn A
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Lớp:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    12A1
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Giới tính:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Nam
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ngày sinh:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    01-01-2001
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Địa chỉ:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    1 Hai Bà Trưng, P5, Q3, TPHCM
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Số điện thoại:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    (320) 380-4539
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Dân tộc:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Kinh
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Tôn giáo:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Không
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center p-1" >
                            <button class="btn btn-primary mr-3">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Sửa thông tin
                            </button>
                            <button class="btn btn-secondary">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Xem điểm quá trình
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header p-1" style="background-color: #a8d2ea;">
                            <h5 class="d-flex justify-content-center">
                                Thông tin phụ huynh
                            </h5>
                        </div>
                        <div class="card-body p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Nghề nghiệp</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Chức vụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Nguyễn Văn C</td>
                                    <td>10/12/2000</td>
                                    <td>Phụ hồ</td>
                                    <td>0993223232</td>
                                    <td>Không</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Văn D</td>
                                    <td>10/12/2000</td>
                                    <td>Phụ hồ</td>
                                    <td>0993223232</td>
                                    <td>Không</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer d-flex justify-content-end p-1" >
                            <button class="btn btn-primary">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Sửa thông tin
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</main>

